.add-profilepic-body{
     position: fixed;
  width: -webkit-fill-available;
  height: 1024px;
  z-index: 110;
  left: 0px;
  top: 0px;

  background: rgba(207, 206, 206, 0.61);
  backdrop-filter: blur(8px);
}.AddProfilePic_popup {
  box-sizing: border-box;
  position: fixed;
  width: 473px;
  height: 50%;
  left: 35%;
  top: 24%;
  z-index: 120;
  background: #ffffff;
  border-right: 1px solid #f7f7f7;
  border-radius: 12px;
}

.AddFile_ProfilePic {
  z-index: 150;
  position: relative;
  left: 70px;
  top: 35%;
  /* bottom: auto; */
  box-sizing: border-box;
  width: 400px;
  height: 48px;
  background: #faffff;
  border: 0;
  border-radius: 8px;
  flex-grow: 0;
  padding: 15px auto;
}

.buttons_profilePopUp {
  /* position: relative;
    left: 35%;
    top: 45%;
    width: fit-content;
    gap:25px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 324px;
  height: 48px;
  left: 70px;
  top: 235px;
}
.SubmitFile_ProfilePic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 36px;
  gap: 8px;
  width: 177px;
  height: 48px;
  background: #305ba5;
  border-radius: 8px;
  cursor: pointer;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #ffffff;
}
.CancelFile_ProfilePic {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 36px;
  gap: 8px;
  width: 123px;
  height: 48px;
  border: 1px solid #305ba5;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
