@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js");

.Login-Page {
  font-family: "Avenir Next";
  background-image: url("./images/login-background.png");
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 3.6rem;
}

html {
  font-size: 100%;
}

.loginform {
  display: inline-block;
  position: relative;
  left: 35%;
  width: 30%;
  height: 32.2rem;
  margin: 100px auto;

  background-color: #ffffff;
  border-radius: 12px;
  text-align: center;
  padding-bottom: 1.3%;
}

.frame {
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
}

img {
  position: relative;
  left: 9%;
  /* top: 18px; */
  width: 119px;
  height: 33px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 24px;

  float: left;
}

#version {
  position: relative;
  left: 12%;
  width: 119px;
  height: 33px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  display: inline-block;
  /* align-items: center; */
  color: #dedede;
  /* flex: none; */
  /* order: 1;
  flex-grow: 0; */

  /* position: relative;
    width: 119px;
    height: 33px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    margin: 5% auto;
    color: #DEDEDE; */
}

#headerTitle {
  position: relative;
  left: 1%;
  width: 180px;
  height: 40px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 800;

  line-height: 55px;

  color: #222222;
  margin: 3% auto 0 auto;
  justify-content: center;
  /* position:relative;
    left:0;
    right:0;
    width: 293px;
    height: 55px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #222222;
    margin:8% auto 0 auto;
    justify-content: center; */
}
.desc {
  /* position: absolute;
    left: 0;
    right: 0; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 75%;
  height: 44px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  /* font-size: 16px; */
  line-height: 22px;
  /* text-align: center; */
  color: #a7a7a7;
  margin: 2.5% auto;
  /* justify-content: center; */
}
.row {
  display: block;
  /* flex-direction: column; */
  align-items: center;
  padding-top: 15px;
  padding-left: 0;
}
.row .email {
  /* position: absolute;
    left:0; */

  /* top:9%; */
  /* margin-left:auto;
    margin-right:auto;
    margin-top: 20%; */
  font-family: "Avenir Next";
  width: 81%;
  box-sizing: border-box;
  /* border: 5px; */
  font-size: 1.3rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  border: 1px solid rgba(149, 13, 13, 0.3);
  border-radius: 5px;
}
.row .password {
  /* position: absolute;
    left:0;
    right:0;
    top: 18%; */
  /* margin-left:auto;
    margin-right:auto;
    margin-top: 20%; */
  font-family: "Avenir Next";
  width: 81%;
  box-sizing: border-box;
  border: 5px;
  font-size: 1.3rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  border: 1px solid rgba(149, 13, 13, 0.3);
  border-radius: 5px;
}
/* .input-fields-login{
  display: flex;
  flex-wrap: wrap;
} */
input::placeholder {
  font-size: medium;
  padding-top: 9px;
}
.row input:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
}
.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.remembrer-links {
    position: relative;
    bottom: 9px;
}
#box {
  position: relative;
  left: 3.5rem;
  /* bottom: 62px; */
  margin-top: 6px;
  /* bottom: 50.5%; */
  background: #a7a7a7;
}
.check-box {
  display: inline-block;
  width: 13px;
  height: 13px;

  /* bottom: 10px;
    padding-top: 0; */
}
.remember {
  /* padding-right:10%; */
  /* padding-left: 10%; */
  display: flex;
  justify-content:start;
  align-items: center;
  flex-wrap: wrap;
}

.remember-inside {
  /* display:flex;
    padding-top: 1rem; */
}
.remember-label {
  position: relative;
  width: fit-content;
  height: 0;
  left: 55px;
  /* margin-top: 6px; */
  /* right: 32.5rem; */
  /* bottom: 63.5px; */
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #a7a7a7;
  flex-wrap: no-wrap;
}
#forgot {
  margin: 0;
    /* padding-top: 10px; */
    position: relative;
    height: 0;
    bottom: 10px;
    left: 38%;
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 32px; */
    display: flex;
    flex-wrap: wrap;
}
#register-user {
  display: flex;
  align-items: baseline;
  position: relative;
  left: 35%;
  top: 15px;
}
.register-user-link {
  padding-left: 10px;
  cursor: pointer;
  text-decoration: underline;
}
.Login-Button {
 position: relative;
    left: 80px;
    /* display: block; */
    width: 368px;
}
.Login-Button button {
  border-radius: 8px;
  width: 75%;
  height: 40px;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  background: #305ba5;
  border: 0px;
  cursor: pointer;
  position: relative;
  top: 20px;
  right: 10%;
  text-align: center;
}

.row .button:hover {
  opacity: 0.8;
}

#button {
  /* padding-bottom: 1.5rem; */
}
.copyright-Login {
  /* margin-top: 1rem;
    margin-top: 1rem; */
  position: absolute;
  width: 80%;
  font-size: 16px;
  left: 50px;
  bottom: 17px;
}
.symbol {
  position: relative;

  top: 59.034%;
  right: 18%;
}
/* @media screen and (min-width: 2500px) {
  .remember-label {
    line-height: 32px;
    left: -243px;
  }
  #box {
    left: 3.5rem;
  }
} */
@media screen and (min-width: 1281px) and (max-width: 1500px) {
  .remember-label {
    /* top: -58px;
    left: 3%; */
  }
  #forgot {
    /* bottom: 84px; */
  }
  #box {
    /* bottom: 56px; */
  }
}
@media screen and (min-width: 1101px) and (max-width: 1280px) {
  /* .Welcome-Note {
    height: 0px;
  } */
  .loginform {
    width: 35%;
  }
  #version {
    left: 26px;
  }
  .desc {
    margin-bottom: 5%;
    margin-top: 0px;
  }
  img {
    height: 28px;
  }
  #headerTitle {
    bottom: 30px;
    font-weight: 600;
    height: 30px;
  }
  .input-fields-login {
    bottom: 0px;
  }
  .remember {
    flex-wrap: nowrap;
    font-size: 15px;

    position: relative;
        left: 43px;
    bottom: 1px;
  }

  .remember-label {

    left: 16;
  }
  #box {
    left: 0.9rem;
    margin-bottom: 4px;
    height: 12px;
    width: 12px;
  }
  #forgot {
    font-size: 15px;
    padding-top: 0px;
    left: 100;
  }
  #register-user {
    left: 25%;
  }
  .copyright-Login {
    font-size: 14px;
    left: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  #box {
        left: 30px;
  }
  .remember-label {

    left: 10%;
}
#forgot{
      left: 16%;
}
.Login-Button{
  left: 5px;
}
#register-user {
  left:70px;
}
 .copyright-Login {
   left: 30px;
 }
 
}
@media screen and (min-width: 692px)and (max-width: 880px) {
  .Login-Page{
    
  }
  .loginform {
        margin: 173 auto;
    width: 50%;
    left: 25%;
  }
  .desc {
    font-size: 15px;
  }
  #forgot {
    display: block;
    left: 30%;
  }
  .Login-Button {
    left: 43px;
}
#register-user {
    left: 90px;
}
  .remember-label {
    display: flex;
    left: 36px;
  }
  .remember {
    display: flex;
  }
  #box {
    left: 36px;
  }
  #version {
    margin-bottom: 10px;
    margin-top: 10px;
    left: 0%;
    bottom: 15px;
  }
  img {
    left: 8px;
    float: none;
    margin-left: 0%;
    margin-bottom: 10px;
    margin-right: 108px;
  }
  .copyright-Login {
        width: fit-content;
    left: 5%;
  }
}
/* @media screen and (min-width: 769px) {
  body {
   font-size:small;
   background-color: whitesmoke;
   color: #e80b21;
 } 
}
@media screen and (min-width: 1025px) {
  body {
   
    
 } 
} */
@media screen and (min-width: 481px)and (max-width: 692px) {
   .loginform {
    width: 50%;
    left: 25%;
  }
  .desc {
    font-size: 15px;
  }
  #forgot {
    display: block;
    left: 30%;
  }
  .Login-Button {
    left: 43px;
}
#register-user {
    left: 90px;
}
  .remember-label {
    display: flex;
    left: 36px;
  }
  .remember {
    display: flex;
  }
  #box {
    left: 36px;
  }
  #version {
    margin-bottom: 10px;
    margin-top: 10px;
    left: 0%;
    bottom: 15px;
  }
  img {
    left: 8px;
    float: none;
    margin-left: 0%;
    margin-bottom: 10px;
    margin-right: 108px;
  }
  .copyright-Login {
        width: fit-content;
    left: 5%;
  }
}
@media screen and (min-width: 390px) and (max-width: 480px) {
  
  .loginform {
    width: 71%;
    left: 14%;
        margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
        /* margin-top: 85px;
    margin-bottom: 0px; */
        width: 292.587;
  }
  .Login-Page {
    /* padding-bottom: -webkit-fill-available;
    padding-right: 15px; */
        padding-top: 76;
    padding-bottom: 76;
  }
  img {
    margin-right: 37px;
  }
  #headerTitle {
    font-size: 20px;
    margin-top: 2%;

  }
  #version {
    margin-bottom: 0;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 0;
  }
  .desc {
    margin-top: 1%;
    height: 52px;
    line-height: 20px;
  }
  .row .password {
    margin-bottom: 1%;
  }
  #box {
    margin-bottom: 4px;

  }
  .remember-label {
    width: 250px;
  }
  #forgot {
        width: 253px;
    bottom: 22px;
  left: 52%;
  }
  #button {
    left: 0px;
  }
  #register-user {
    left: 65px;
}
  .copyright-Login {
    font-size: 13px;
    /* line-height: 4; */
    height: 18px;
    width: max-content;
    left: 9px;
    bottom: 10px;
  }
  .row button {
    top: 46px;
  }
}
@media screen  and (max-width: 390px) {
  .loginform {
        width: 85%;
    top: 10%;
    left: 8%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;  
  }
  .Login-Page {
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available ;
        /* padding-right: 26px; */
  }
  img {
    margin-right: 37px;
  }
  #headerTitle {
    font-size: 20px;
    margin-top: -7%;

  }
  #version {
    margin-bottom: 0;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 0;
  }
  .desc {
    margin-top: 1%;
    height: 52px;
    line-height: 20px;
  }
  .row .password {
    margin-bottom: 1%;
  }
  #box {
    margin-bottom: 4px;

  }
  .remember-label {
    width: 250px;
    


  }
  #forgot {
       width: 253px;
  left: 53%;
    bottom: 22px;
  }
  .Login-Button{
        width: 100%;
    left: 30px;
  }
  #register-user {
    left:22%
  }
  .copyright-Login {
    font-size: 14px;
    /* line-height: 4; */
    height: 18px;
        width: 90%;
    left: 10px;
    bottom: 29px;
  }
  .row button {
    top: 46px;
  }

}
