.add-note-popup {
  box-sizing: border-box;
  position: fixed;
  width: 473px;
  height: 780px;
  left: 1045px;
  top: 5px;
  z-index: 120;
  background: #ffffff;
  border-right: 1px solid #f7f7f7;
  /* box-shadow: -7px 4px 31px 24px rgba(0, 0, 0, 0.03); */
}
.body {
  position: fixed;
  width: 1519px;
  height: -webkit-fill-available;
  z-index: 110;
  left: 0px;
  top: 0px;

  background: rgba(207, 206, 206, 0.61);
  backdrop-filter: blur(8px);
}
.add-note-popup {
  /* background: rgba(207, 206, 206, 0.61); */
  backdrop-filter: blur(50px);
}
.add-note-popup {
  /* background: rgba(207, 206, 206, 0.61); */
}
.header-title {
  position: absolute;
  width: 128px;
  height: 33px;
  left: 32px;
  top: 7px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #000000;
}
.note-title {
  position: absolute;
  width: fit-content;
  height: 66px;
  left: 32px;
  top: 72px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #222222;
}

#add-note-input {
  width: 409px;
  height: 402px;
}
.input-box {
  box-sizing: border-box;
  position: absolute;

  left: 32px;
  top: 220px;
  background: #f6f6f6;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  padding-bottom: 50%;
  padding-right: 0%;
  padding-top: 0%;
  font-size: 0.51em;
}

.input-box::placeholder {
  position: absolute;
  width: 172px;
  height: 27px;
  left: 24px;
  top: 24px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #a6a6a6;
}

.buttons-addNote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 324px;
  height: 48px;
  left: 35px;
  top: 675px;
}
.save-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 36px;
  gap: 8px;
  width: 177px;
  height: 48px;
  background: #305ba5;
  border-radius: 8px;
  cursor: pointer;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #ffffff;
}
.cancel-button {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 36px;
  gap: 8px;
  width: 123px;
  height: 48px;
  border: 1px solid #305ba5;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media screen and (max-width: 440px) {
  .add-note-popup {
    width: 300;
    height: 550px;
    left: 50px;
    right: 50px;
    margin-top: 50px;
  }
  .body {
    width: 550px;
    height: -webkit-fill-available;
  }
  .note-title {
    font-size: 18px;
    font-family: "Avenir Next";
    line-height: 1;
    height: 0;
    width: 300;
    top: 39px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: baseline;
    flex-wrap: nowrap;
  }
  .header-title {
    height: 0;
  }
  .save-button {
    width: 0px;
  }
  .cancel-button {
    width: 0px;
  }
  #add-note-input {
    width: 250px;
    height: 300px;
    left: 21;
    top: 140;
  }
  h4 {
    height: 0;
    top: 353px;
  }
  .rate {
    height: 0;
    top: 420px;
  }
  .buttons-addNote {
    width: 276px;
    left: 14px;
    top: 480;
  }
  .save-button {
    width: 121px;
  }
}

/* .save-button {
    width: 121px;
  } */
@media screen and (min-width: 441px) and (max-width: 800px) {
  .add-note-popup {
    width: 600px;
    height: 770px;
    left: 100px;
    right: 100px;
    margin-top: 50px;
  }
  .body {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
  .header-title {
    left: 13%;
  }
  .note-title {
    left: 13%;
    top: 50px;
  }
  #add-note-input {
    width: 550px;
    height: 400px;
    left: 13%;
    top: 20%;
  }
  .buttons-addNote {
    width: 276px;
    left: 22%;
    top: 79%;
  }
  .save-button {
    width: 220px;
  }
  .cancel-button {
    width: 220px;
  }
}
@media screen and (min-width: 805px) and (max-width: 1500px) {
  .add-note-popup {
    height: -webkit-fill-available;
    left: 980px;
  }
  #add-note-input {
    top: 220px;
  }
  .buttons-addNote {
    top: 640px;
  }
}
