.profile-pic {
  display: inline-block;
  width: 40%;
  font-size: 1.5em;
  position: relative;
  left: 18%;
  top: 8rem;
  font-family: "Avenir Next";
}
.Profile-Avatar {
  left: 16px;
  width: 125px;
  height: 125px;
  bottom: 5px;
  border-radius: 65px;
}
.profile-pic-options {
  font-size: 16px;
  display: block;
  top: 35%;
  left: 7%;
  position: relative;
}
a {
  /* text-decoration: none; */
}
.remove-pic {
  margin-bottom: 15px;
  position: relative;
  top: 60px;
  color: #c73000;
  cursor: pointer;
}
.edit-pic {
  margin-bottom: 15px;
  position: relative;
  color: #0067c7;
  top: 50px;
  cursor: pointer;
}
.row-data {
  position: relative;
  top: 7rem;
  left: 16.5rem;
  width: 600px;
  padding-left: 2rem;
}

.profile-headings {
  width: fit-content;
  height: 12px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 149.1%;
  display: flex;
  align-items: center;
  letter-spacing: 0.355em;
  color: #bebebe;
  padding: 10px 0;
}
.profile-values {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #222222;
}
.row-creds {
  position: relative;
  bottom: 8rem;
  left: 46.5rem;
  width: 600px;
  padding-left: 2rem;
}
.creds-site {
  width: fit-content;
  height: 12px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 149.1%;
  display: flex;
  align-items: center;
  letter-spacing: 0.355em;
  color: #bebebe;
  padding: 10px 0;
}
.creds-values {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #222222;
}
input {
  box-sizing: border-box;
  width: 400px;
  height: 48px;
  background: #faffff;
  border: 1px solid #e9e8e8;
  border-radius: 8px;

  flex-grow: 0;
  padding: 15px auto;
}
.profile-submit {
  border-radius: 8px;
  width: 10%;
  height: 40px;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  background: #305ba5;
  border: 0px;
  cursor: pointer;
  position: relative;
  bottom: 80px;
  left: 45%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .profile-pic {
    left: 15%;
    top: 10%;
  }
  .edit-pic {
    top: 0px;
  }
  .remove-pic {
    top: 10px;
  }
  .Profile-Avatar {
    /* padding-left: 32%;
    padding-right: 50%; */
    padding-top: -10%;
  }
  .profile-values {
    font-size: 20px;
  }
  .nav-menu.active {
    width: -10%;
  }
  .profile-pic-options {
    width: 180px;
    font-size: 20px;
    top: 97%;
    left: 7%;
    right: 67%;
  }
  .row-data {
    top: 8rem;
    left: -2%;
    right: 67%;
    width: 328px;
    padding-left: 0;
  }
  .row-creds {
    bottom: -14rem;
    left: -10%;
    width: 328px;
  }
  input {
    width: 100%;
  }
  .profile-submit {
    width: 30%;
    bottom: 175px;
    left: 17%;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .Profile-Avatar {
    /* padding-left: 32%; */
    /* padding-right: 50%; */
    padding-top: 22%;
  }
  .profile-pic-options {
    width: 300px;
    top: 52%;
    left: 45%;
    right: 64%;
  }
  .edit-pic {
    top: -100px;
    left: 30px;
  }
  .remove-pic {
    top: -90px;
    left: 30px;
  }
  .row-data {
    top: 11rem;
    left: 20%;
    right: 67%;
    width: 550px;
    padding-left: 0;
  }
  .row-creds {
    bottom: 4.3rem;
    left: 37.5rem;
  }
}
@media screen and (max-width: 390px) {
  .profile-pic {
    left: 35px;
  }
  .row-data {
    left: -11%;
    top: 10rem;
  }
  .row-creds {
    left: -57px;
  }
  .profile-submit {
    width: 25%;
    bottom: 142px;
    left: 27%;
  }
}
@media screen and (max-width: 330px) {
  .profile-pic {
    left: -24px;
  }
  .row-creds {
    width: 300;
    left: -77px;
  }
  .row-data {
    width: 300;
    left: -15%;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1500px) {
}
