.theme-headings {
  position: absolute;
  width: 60px;
  height: 18px;
  left: 315px;
  top: 140px;

  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 149.1%;
  /* identical to box height, or 18px */

  display: flex;
  align-items: center;
  letter-spacing: 0.355em;

  color: #bebebe;
}
.theme-subhead {
  position: absolute;
  width: 120px;
  height: 22px;
  left: 315px;
  top: 160px;

  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #222222;
}
.Theme-Light {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 63px;
  gap: 4px;
  position: absolute;
  width: 101px;
  height: 33px;
  left: 500px;
  top: 174px;
  background: #d5e4ff;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
}
.light-theme-check {
  margin-left: 0px;
  /* display: none; */
}
.Light-Theme {
  width: 33px;
  height: 19px;

  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-left: 0;
  color: #222222;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.Theme-Dark {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 64px;
  gap: 4px;
  margin-left: 10px;
  position: absolute;
  width: 101px;
  height: 33px;
  left: 630px;
  top: 173px;
  cursor: pointer;
  background: #002e7d;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.Dark-Theme {
  width: 31px;
  height: 19px;

  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #ffffff;
  margin-left: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.history-headings {
  position: absolute;
  width: fit-content;
  height: 18px;
  left: 315px;
  top: 245px;

  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 149.1%;
  /* identical to box height, or 18px */

  display: flex;
  align-items: center;
  letter-spacing: 0.355em;

  color: #bebebe;
}
.history-subhead {
  position: absolute;
  width: fit-content;
  height: 22px;
  left: 315px;
  top: 265px;

  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #222222;
}
.history-options {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 24px;
  gap: 4px;

  position: absolute;
  width: 131px;
  height: 33px;
  left: 500px;
  top: 279px;
cursor: pointer;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.history-clear-icon {
  margin-left: 0px;
  color: #222222;

  /* display: none; */
}
.history-clear {
  width: 83px;
  height: 19px;

  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-left: 4px;
  color: #222222;

  /* Inside auto layout */
  cursor: pointer;
  flex: none;
  order: 1;
  flex-grow: 0;
}

@media screen and (max-width: 440px) {
  #theme {
  }
  .theme-headings {
    left: 50px;
    top: 200px;
  }
  .theme-subhead {
    left: 50px;
    top: 220px;
  }
  .history-headings {
    top: 295px;
    left: 50px;
  }
  .history-subhead {
    top: 315px;
    left: 50px;
  }
  .Theme-Light {
    left: 190px;
    top: 233px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 85px;
  }
  .Theme-Dark {
    left: 280px;
    top: 231px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90px;
    height: 35px;
  }
  .history-options {
    left: 190px;
    top: 331px;
  }
}
@media screen and (min-width: 441px) and (max-width: 800px) {
  #theme {
    position: absolute;
    right: 60rem;
    top: 4rem;
  }
  #history {
    position: absolute;
    right: 60rem;
    top: 6rem;
  }
  .history-headings {
    width: 250px;
  }
  .history-subhead {
    width: 150px;
  }
}
@media screen and (max-width: 1280px) {
  .theme-subhead {
    width: max-content;
  }
  .history-options {
    width: max-content;
  }
  .history-clear {
    width: max-content;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1500px) {
  .theme-subhead {
    width: max-content;
  }
  .history-options {
    width: max-content;
  }
  .history-clear {
    width: max-content;
  }
}
