:root {
  --navBg: #ffffff;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /* text-align: center; */
  min-height: 100vh;
}

.profile {
  /* display: flex; */
  height: 100vh;
  width: 1475px;
  align-items: center;
  justify-content: center;
  /* font-size: 3rem; */
  padding-left: 60px;
  flex-direction: column;
  background-color: #fcffff;
}
.settings {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  flex-direction: column;
  background-color: #fcffff;
}
.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #fcffff;
  width: 1475px;
  flex-direction: column;

  padding-left: 50px;
  color: #cfcfcf;
}

.saved {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  width: 1475px;
  flex-direction: column;
  z-index: -1;
}
.sidebar {
  background: #ffffff;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid #f7f7f7;
}

.Avatar {
  position: relative;
  width: 150px;
  height: 150px;
  left: 21.6rem;
  top: -1rem;
  border-radius: 358.343px;
}
.Avatar-frame {
  background: #c0e1ff;
  border-radius: 1000px;
  padding-top: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.welcome-frame {
  height: 0px;
  margin-top: -7px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: none;
  order: 1;
  position: relative;
  bottom: 10px;
}
.welcome {
  position: relative;
  top: 12rem;
  /* bottom: 4.8rem; */
  right: 21rem;
  width: 85px;
  height: 16px;
  padding-top: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  /* padding-right: 650px; */
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #959595;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.name {
  position: relative;
  top: 10.5rem;
  /* bottom: 6rem; */
  right: 22.2rem;
  width: 113px;
  height: 25px;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 0px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #222222;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  position: absolute;
  top: 7rem;
  display: none;
}
.menu-close {
  margin-left: 2rem;
  font-size: 2rem;
  position: absolute;
  right: 12rem;
  top: 12px;
  display: none;
}
.nav-menu {
  background-color: var(--navBg);
  width: 256px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  top: 100px;
  left: 0;
  transition: 350ms;
  border-right: 2px solid #f7f7f7;
  right: 0.05rem;
  z-index: 100;
  height: -webkit-fill-available;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 16px 8px 16px;
  list-style: none;
  height: 50px;
}

.nav-text a {
  text-decoration: none;
  color: #a7a7a7;
  font-size: 18px;
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

/* .nav-text a:hover {
  color: #305ba5;
}
.nav-text a:hover::after {
  content: "";
  width: 30%;
  
  background-color: #1a83ff;
} */
.nav-text {
  color: #305ba5;
}
.selectedItem {
  color: #305ba5;
}
.nav-menu-items {
  position: relative;
  right: 11.3rem;
  width: 100%;
  padding-left: 31.25rem;
  margin-top: 15.5rem;
  margin-bottom: 0px;
  padding-right: 2.8rem;
  padding-left: 375px;
}

.navbar-toggle {
  background-color: var(--navBg);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
  font-size: 16px;
}
@media screen and (max-width: 1280px) {
  .profile {
    height: 150%;
  }
}
@media screen and (max-width: 935px) {
  .home,
  .saved {
    width: 880px;
    /* background-color: #1a83ff; */
  }
  .home {
    padding-left: 31%;
    width: fit-content;
  }
  .nav-menu {
    height: fit-content;
  }
  .nav-menu.active {
    height: -webkit-fill-available;
    top: 85px;
  }
}
@media screen and (max-width: 440px) {
  .menu-close {
    display: flex;
    right: 1rem;
    top: 6px;
  }
  .menu-bars {
    display: flex;
  }
  .navbar-search {
    width: 100%;
  }
  .Avatar {
    width: 125px;
    height: 125px;
    left: 23rem;
  }
  .welcome-frame {
    right: 15px;
    top: -34px;
  }
  .nav-menu-items {
    right: 12rem;
    bottom: 25px;
  }
  .home {
    padding-left: 0;
  }
  h3 {
    width: 80%;
    align-content: center;
  }
  .nav-menu.active {
    width: 170px;
    top: 85px;
    height: -webkit-fill-available;
  }
  .saved {
    padding-left: 0;
    width: 550px;
  }
  .profile {
    width: 100%;
    height: 150%;
    /* padding-left: 0px; */
  }
}
@media screen and (min-width: 441px) and (max-width: 800px) {
  .menu-bars {
    display: flex;
    left: 35px;
  }
  .nav-menu.active {
    top: 100px;
  }
  .menu-close {
    display: flex;
    right: 1rem;
    top: 12px;
  }
  .welcome-frame {
    right: 58px;
  }
  .Avatar {
    left: 24.6rem;
  }
  .nav-menu-items {
    right: 14.6rem;
  }
  .home {
    padding-left: 15%;
  }
  .saved {
    padding-left: 1%;
    padding-top: 2%;
    width: 550px;
  }
  .profile {
    width: 100%;
    height: 150%;
  }
  .settings {
    width: 100%;
    height: -webkit-fill-available;
  }
}

.side-line {
  position: absolute;
  right: -6px;
}
