.container-fluid {
  /* position: relative; */
  background-color: #ffffff;
}
.Library {
  position: relative;
  right: 0;
  left: 15rem;
  padding-left: 55px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 157px;
  height: 33px;
  /* font-family: "Avenir Next LT Pro"; */
  margin-right: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #222222;
}
.Logo-Home {
  position: inherit;
  width: 130.6px;
  height: 36px;
  left: 67px;
  top: 32px;
  margin-top: 0px;
  margin-left: 0px;
  right: 0px;
}
.navbar-search {
  border-right-width: 0px;
  padding-right: 0px;
  width: 1300px;
  position: fixed;
  padding-left: rem;
  /* left: 16.05rem; */
  height: 80px;
  width: 2070px;
  background-color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 2px solid #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
}

.Search input {
  width: 978;
    height: 69px;
    font-family: "Avenir Next ";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
    background-color: #f6f6f6;
    border: 0;
}
 input::placeholder{
  text-align:justify;
}
.search-NAV {
  position: relative;
  right: 62rem;
  top: 0.5rem;
}
search {
  right: 10px;
}
#Search-Logo-home {
      position: relative;
    right: 2rem;
    bottom: 57px;
    width:16px
}
.Search {
  position: relative;
  left: 13rem;
  width: 978px;
  height: 70px;
  background-color: #f6f6f6;
  border: 0;
  padding-left: 3rem;
  padding-right: 0px;
  margin-right: 20px;
  border-radius: 15px;
  margin-top: 33px;
}
/* .dropdown-row{
  position: relative;
  left: 13rem;
  width: 978px;
  height: 70px;
  background-color: #f6f6f6;
  border: 0;
  padding-left: 3rem;
  padding-right: 0px;
  margin-right: 20px;
  border-radius: 15px;
  margin-top: 33px;
} */
.dropdown{
    position: relative;
    left: 0;
    /* top: 0; */
    bottom: 45px;
    width: 978px;
    background: #f3f7f7;
    border-radius: 15px;
}
.dropdown-row{
  margin:20px;
      font-size: 18px;
      cursor: pointer;
      font-family: "Avenir Next ";
}
.form {
  position: relative;
  left: 350px;
  width: 978px;
  height: 56px;
  bottom: 21px;
  border-right-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 20px;
}
#Search {
  height: 120px;
  margin-left: 30px;
  border-left: 2px solid #f7f7f7;
      position: relative;
    left: 2px;
}
@media screen and (max-width: 390px){
  .navbar-search {
  width: 100%;
    height: 85px;
  }
  .Library-mobile{
    position: absolute;
    bottom: 4px;
    left: 0rem;
    right: 0;
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
    display: inline-flex;
    line-height: 10px;
    padding-left: 8px;
  }
  .Logo-Home {
        width: 90px;
    height: 29px;
    position: initial;
    padding-left: 10px;
    margin-top: 3px;
  }
  #Search{
        left: 0rem;
        border-left:0;
  }
  .Search{
    left: -40;
    width: 15px;
  }
  .Search input{
    width: 180px;
  }
  #Search-Logo-home {
    left: -1.9rem;
}
.dropdown{
  width: 180px;
}
.welcome-frame {
  top: -24px;
}
}


@media screen and (min-width:391px) and (max-width: 480px) {
  .Logo-Home {
       width: 85;
    height: 25;
    position: initial;
    padding-left: 10px;
    padding-bottom: 23px;
    margin-top: 3px;
  }
  #Search {
    border: none;
    margin-left: 0px;
    left: 0rem;
  }
  .Search input{
        width: 210px;
    height: 50;
  }
  .Library-mobile {
    position: absolute;
       left: 0;
    bottom: 7px;
    right: 0;
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
    display: inline-flex;
    line-height: 10px;
    padding-left: 8px;
  }
  .Search {
    position: relative;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #f6f6f6;
    border: 0;
    padding-left: 3rem;
    margin-left: 5px;
    /* padding-right: 0px; */
    margin-right: 0px;
    border-radius: 15px;
    margin-top: 44px;
  }
  form {
    margin-left: 0;
  }
  #Search-Logo-home {
        left: -1.9rem;
    bottom: 48px;
  }
  .navbar-search {
    width: 100%;
    height: 85px;
  }
}

@media screen and (min-width: 441px) and (max-width: 800px) {
  .Logo-Home {
    left: 28px;
  }
  #Search {
    border: none;
    margin-left: 0px;
    left: 7rem;
  }
  .Library {
    position: absolute;
    left: 7rem;
  }
  .Search {
    width: 400px;
  }
  #Search-Logo-home {
    left: 14.1rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1500px) {
  .Library {
    left: 15rem;
  }
}
@media screen and (min-width: 805px) and (max-width: 1280px) {
  .Library {
    left: 15rem;
  }
}
